body {
    margin: 0;
}

header {
    margin: auto;
    margin-top : 15px;
    margin-bottom : 15px;
    padding: 5em 0 5em 0;
    text-align: center;
    background-image: url("../view/assets/it.png");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    height: 30%;
    padding: 0 2em 0 2em;
}

fieldset {
    border: 3px ridge gray;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    width: 30%;
}

label {
    font-size: 20px;
}

input#submit {
    font-size: 20px;
    background-color: goldenrod;
    text-align: center;
    color: white;
}