body {
    margin: 0;
}

header {
    margin: auto;
    margin-top : 15px;
    margin-bottom : 15px;
    text-align: center;
    width: 25em;
    height: 10em;
    border: 1px solid black;
}

#login-page {
    margin: auto;
    text-align: center;
    padding : 1em 2em 1em 2em;
    width: 10em;
    height: 15em;
    border: 1px solid black;
}